/* Pixel Engineering Co -- Custom CSS -- Handcrafted Construction -- */

body {
  font-size: 20px;
  background-color: #c3c3c3;
  max-width: 1200px;
}

a {
 list-style: none;
}

a:hover {
  color: #373737;
  text-decoration: none;
}

li {
  list-style: none;
}

/* === HEADER/NAV === */
header {
  position: relative;
  width: 100%;
  height: 53px;
  background-color: #ee6723;
  z-index: 100;
}

/* === RESPONSIVE NAV === */
#mblmenu {
  display: none;
  position: relative;
  width: 100%;
  height: 53px;
  text-align: right;
  padding-right: 2em;
  line-height: 50px;
}

#mblmenu i {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.fa-bars:hover {
  color: #373737;
  transition: color .3s ease-in-out; 
}

.fa-bars:hover {
  color: white;
}
.mblnav {
  display: block;
  width: 100%;
  line-height: 53px;
  background-color: white;
  border-bottom: 2px dotted #c3c3c3;
}

.mblna

.mbl-list ul>a {
  display: block;
  color: #373737;
  width: 100%;
  text-decoration: none;
  font-family: "museo-slab", sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  list-style: none;
  border-bottom: 1px dotted #c3c3c3;
  transition: background-color .3s ease-in-out;
}

.mbl-list li:hover {
  background-color: #ee6723;
  
}


/* ================= */

#brand {
  display: inline-block;
  position: absolute;
  left: 1em;
  top: 5px;
  text-align: right;
  font-family: "museo-slab", sans-serif;
  font-weight: bold;
  font-size: 0.8em;
}

#brand a {
  color: #373737;
  text-decoration: none;
  transition: color .2s ease-in;
}

#brand a:hover {
  color: white;
  text-decoration: none;
}

.nav-sect {
  width: 100%;
  text-align: center;
}

.nav-list { /* NAV UL */
  display: inline-block;
  line-height: 50px;
  padding-left: 0px;
}

.nav-list li {
  display: inline-block;
  font-family: "museo-slab",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.8em;
  list-style: none;
  height: 50px;
  border-left: 1px dotted #c3c3c3;
  border-right: 1px dotted #c3c3c3;
  padding: 0px 20px 0px 20px;
  transition: background-color .5s ease-in-out, border .3s ease-in-out;
}

.nav-list li:hover {
  color: #5d5d5d;
  background-color: white;
  border-bottom: 4px solid #1ab0e8;
}

.nav-sect ul>span>a>img {
  display: inline-block;
  position: relative;
  height: 57px;
  top: 5px;
  padding: 0px 10px 0px 10px;
}

.fullnav {
  display: block;
  height: 53px;
  
}

.quotes {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  padding: 0.5em;
  margin-top: 1em;
}

/* === SECTION 1 === */

.content {
  background-image: url('../img/rockLayers.jpg');
  background-repeat: no-repeat;
  background-size: auto;
}


.sect-1 {
  width: 100%;
  min-height: 400px;
  padding: 2em;
}

.sect-1 {
  color: white;
  font-family: 'museo-slab', sans-serif;
  text-shadow: 2px 2px 1px black;
  text-align: right;
}

.sect-1 div {
  display: block;
  position: relative;
  max-width: 50%;
  left: 50%;  
}

/* === SECTION 2 === */
.sect-2 {
  width: 100%;
  min-height: 400px;
  padding: 2em;
  color: white;
  text-shadow: 2px 2px 1px black;
  font-family: 'museo-slab', sans-serif;
  text-align: left;
}

.sect-2 span {
  display: block;
  position: relative;
  top: -20px;
  font-size: 14px;
  text-align: right;
  
}

.sect-2 div {
  display: block;
  position: relative;
  max-width: 50%;
  left: 0px;  
}


/* === FOOTER === */

footer {
  position: relative;
  background-color: #1ab0e8;
  text-align: center;
  padding-top: 2em;
  bottom: 0px;
}

.social {
/*  background-color: #848484;*/
/*  border: 2px solid white;*/
  color: white;
  height: 200px;
  padding-top: 1.2em;
  font-family: "museo-slab", sans-serif;
}

.social ul {
  list-style: none;
}

.social span {
  display: block;
  width: 6em;
  margin: 0 auto;
  padding-bottom: .5em;
  border-bottom: 2px solid white;
}

.soc-links {
  min-width: 280px;
}

.social a {
  display: inline-block;
  margin-top: 1em;
  padding: 0px 12px;
  color: #373737;
  border-radius: 10px;
  transition: background-color .2s ease-in-out, color .3s ease-in-out;
}

.social a:hover {
  background-color: white;
  color: #ee6723;
}

.social ul>li:nth-of-type(1) {
  margin-left: -20px;
}

.contact {
/*  background-color: #848484;*/
/*  border: 2px solid white;*/
  color: #d7d7d7;
  height: 200px;
  font-family: "museo-slab", monospace, sans-serif;
  font-size: 1.2em;
  text-align: left;
  padding-top: 1.2em;
}

.contact p {
  display: block;
  color: #373737;
  max-width: 12em;
  margin: 0px 0px 0px 30px;
}

.contact p:nth-of-type(1) {
  border-bottom: 2px solid white;
  color: #373737
}

#logo > img {
  margin: 10px 0px;
  height: 175px;
}

footer {
  width: 100%;
  display: inline-block;
  position: relative;
  color: #d7d7d7;
  font-family: "museo-slab", monospace, sans-serif;
  font-size: 1em;
}

.legal {
  line-height: 40px;
  color: #d7d7d7;
  font-family: monospace;
  padding: 10px 0px;
}

.legal span {
  font-family: "museo-slab", monospace, sans-serif;
  font-size: .8em;
}

/* === MEDIA QUERIES === */
@media (max-width: 890px) {
  #brand {
    display: none;
    left: 0px;
  }
  
  .sect-1 div {
    left: 0px;
    max-width: 100%;
  }
  .sect-2 div {
    max-width: 100%; 
  }  
}/*END @media <890px*/

@media (max-width: 700px)  {
  .nav-sect ul>span>img {
    display: none;
    height: 0px;
  }
  
  .fullnav {
    display: none;
  }
  
  #brand {
    display: inline-block;
    line-height: 1.4em;
    margin-left: 2em;
    vertical-align: middle;
  }
  
  #mblmenu {
    display: block;
    line-height: 53px;
  }
  
  .mblnav {
    display: none;
  }
}/*END @media <700px*/

@media (min-width: 701px){
  
  .mblnav {
    display: none;
  }
  
}/*END @media <520px*/










